@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 0;
}

.main {
	position: absolute;
	top: 70px;
	bottom: 70px;
	left: 70px;
	right: 70px;
	background-color: #f6fbff;
}

.profile {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 40%;
}

.image {
	height: 100%;
	background-image: url("../images/profile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60%;
}

.home {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.home-wrapper {
	padding-left: 6vw;
}

.name {
	font-size: 5.5vh;
	font-weight: 700;
	padding: 0;
	margin-bottom: 2vh;
}

.home-line {
	width: 70px;
	height: 5px;
	background-color: #333;
	display: inline-block;
	margin-bottom: 2vh;
}

.description {
	font-size: 2vh;
	font-weight: 200;
	margin-bottom: 2.5vh;
}

.home-resume {
	font-size: 1.5vh;
	font-weight: bold;
	color: #000;
	background-color: transparent;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	padding: 1vh 2vh;
	margin-bottom: 5vh;
	transition: all ease-in-out 250ms;
	text-decoration: none;
}

.home-resume:hover {
	background-color: #000;
	color: #f6fbff;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 70px;
	padding: 0 70px;
}

.icon-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-wrapper a {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-left: 2vw;
	color: #000;
	text-decoration: none;
}

.icon-wrapper-small {
	margin-top: 2vh;
}

.icon-wrapper-small a {
	color: #000;
}

.social-icon {
	font-size: 2vh;
	padding: 0.25vh 0.5vh;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	transition: all ease-in-out 250ms;
}

.small-icon {
	border-color: #f6fbff;
}

.big-icon {
	border-color: #fff;
}

.small-icon:hover {
	border-color: #000;
	background-color: #000;
	color: #f6fbff;
}

.big-icon:hover {
	border-color: #000;
	background-color: #000;
	color: #fff;
}

@media (max-width: 1180px) {
	.profile {
		display: none;
	}

	.content {
		width: 100%;
	}

	.main {
		left: 0;
		right: 0;
	}
}

@media (max-width: 849px) {
	.main {
		top: 0;
		bottom: 0;
	}
	.footer {
		display: none;
	}
}

@media (min-width: 850px) {
	.icon-wrapper-small {
		display: none;
	}
}